name: "Docker Image Production"
on:
    push:
        branches: ["main", "master"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
          
        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: Dockerfile
            push: true
            platforms: linux/amd64,linux/arm64
            tags: ${{ secrets.DOCKER_USERNAME }}/472-s-ku-clubs:latest
            cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/472-s-ku-clubs:cache # cache-from is used to pull the cache from the registry
            cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/472-s-ku-clubs:cache,mode=max # cache-to is used to push the cache to the registry

